:root {
  --bg: #0f0f0f;
  --text: #fff;
  --card: #1a1a1a;
  --accent: red;
}

body.light {
  --bg: #ffffff;
  --text: #111;
  --card: #f2f2f2;
  --accent: #e60023;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* HEADER */
.header {
  background: var(--card);
  border-bottom: 2px solid var(--accent);
}
.header-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  font-weight: 900;
  font-size: 22px;
}
.logo span {
  color: var(--accent);
}

.menu a {
  color: var(--text);
  margin-left: 20px;
  text-decoration: none;
  transition: 0.3s;
}
.menu a:hover {
  color: var(--accent);
}

#themeToggle {
  background: var(--card);
  border: none;
  color: var(--text);
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
}

/* LAYOUT FLEX */
.wrapper {
  display: flex;
  max-width: 1100px;
  margin: 20px auto;
  gap: 30px;
  flex-wrap: wrap;
}

/* MAIN CONTENT */
.content {
  flex: 3;
  min-width: 280px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.subtitle {
  color: #aaa;
  margin-bottom: 20px;
}

/* SOCIAL */
.social {
  margin-bottom: 20px;
}
.social button {
  background: var(--card);
  border: none;
  color: var(--text);
  margin-right: 10px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.social button:hover {
  transform: scale(1.1);
  background: var(--accent);
  color: #fff;
}

/* POST ITEMS */
.post-item {
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.post-item.show {
  opacity: 1;
  transform: translateY(0);
}

.post-item img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}
.post-item img:hover {
  transform: scale(1.05);
}

.post-item h2 {
  margin: 10px 0;
  color: var(--accent);
}
.post-item p {
  color: #ccc;
}

/* SIDEBAR */
.sidebar {
  flex: 1;
  min-width: 250px;
}
.sidebar h3 {
  color: var(--accent);
  margin-bottom: 15px;
}
.card {
  background: var(--card);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 100%;
  border-radius: 8px;
}
.card p {
  font-size: 14px;
  margin-top: 5px;
}

/* FOOTER */
.footer {
  background: var(--card);
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: #777;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
  .menu {
    display: none;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
  .subtitle {
    font-size: 14px;
  }
}
